.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.introbig {
    font-size: 5.5vw;
    color: black;
    margin: 0.5rem;
    transition: 0.3s;
}

.introbig:hover {
    font-size: 6vw;
    color: #1d4ed8;
}

.introtext {
    color: black;
    font-size: 1.25vw;
    line-height: 2;
    margin: 2rem;
}

.socials {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.socials a{
    text-decoration: none;
    font-size: 2vw;
    margin: 1rem;
    color: black;
    transition: 0.3s;
}

.socials a:hover {
    font-size: 2.2vw;
    color: #1d4ed8;
}